<i class="fab fa-speakap"></i>
    <div class="ui vertical menu">
        <a class="active blue item">
            Home
            <div class="ui blue left pointing label"></div>
        </a>
        <a class="item">
            Profile
        </a>

        <div class="item">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
