<header class="siteHeader">
        <i class="fas fa-crow fa-3x logo home-logo-click"></i>
        <h1 class="site-title home-logo-click">Squawkr</h1>
    </header>
<div class="ui vertical menu">
    <a class="active blue item" href="/home"><i class="home icon"></i>
        Home
        </a>
    <a class="item" href="/profile"><i class="user outline icon"></i></i>
        Profile
    </a>

    <div class="item">
        <div class="ui transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>
</div>
    <button class="ui primary submit button" id="logoutButton">Logout</button>
{{!-- form to post squawk --}}
<div class="ui raised very padded text blue inverted container segment">
    <div>
        <a class="ui pointing below blue basic label">squawk here</a></div>
    <div><textarea class="fluid" rows="2" id="squawkBox"></textarea>
    </div>
    <button class="ui inverted basic button" id="squawkSubmit">Squawk</button>
</div>

{{!-- posted by user --}}
{{#each post}}
<div class="ui raised very padded text blue inverted container segment">
    <h3 class="ui header">@{{post.dataTypes.author}}</h3>
    <p>{{post.dataTypes.body}}</p>
    <p></p>
</div>
{{/each}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/home.js"></script>