<header class="siteHeader">
    <nav>
        <p><a href="/home">HOME</a></p>
        <div class="logodiv">
            <i class="fas fa-crow fa-3x logo home-logo-click"></i>
            <h1 class="site-title home-logo-click">Squawkr</h1>
        </div>
        <p><a href="/profile">PROFILE</a></p>
    </nav>
    <button class="ui primary submit button" id="logoutButton">Logout</button>
</header>
{{!-- form to post squawk --}}
<div class="ui raised padded text blue inverted container segment">
    <div>
        <a class="ui pointing below blue basic label">Squawk Here</a></div>
    <div><textarea class="fluid" rows="2" id="squawkBox" maxlength="150"></textarea>
    </div>
    <button class="ui inverted basic button" id="squawkSubmit">Squawk</button>
    <p class="charCountText"><span id="charCount">0</span>/150</p>
</div>

{{!-- posted by user --}}
{{#each post}}
<div class="ui raised very padded text blue inverted container segment">
    <h3 class="ui header">@{{author}}</h3>
    <p>{{body}}</p>
    <p>{{createdAt}}</p>
</div>
{{/each}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/home.js"></script>