<i class="fab fa-earlybirds"></i>
<div class="ui vertical menu">
    <a class="active blue item"><i class="home icon"></i>
        home
        </a>
    <a class="item"><i class="user outline icon"></i></i>
        profile
    </a>

    <div class="item">
        <div class="ui transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>
</div>
{{!-- form to post squawk --}}
<div class="ui raised very padded text container segment">
    <div>
        <a class="ui pointing below blue basic label">squawk here</a></div>
    <div><textarea class="fluid" rows="2"></textarea>
    </div>
    <div class="ui primary submit button">submit</div>
</div>

{{!-- posted by user --}}
<div class="ui raised very padded text container segment">
    <h3 class="ui header">username</h3>
    <p>squawk, squawk, squawk</p>
    <p>time</p>
</div>

{{!--  --}}
{{!--  --}}
<div class="ui raised very padded text container segment">
    <div class="ui card">
        <a class="image" href="#">
            <img src="">
        </a>
        <div class="content">
            <p class="header">auto name</p>
            <p>auto user</p>
            <p>auto bio</p>
        </div>
    </div>
</div>