<div class="ui raised very padded text container segment">
 <i class="fab fa-earlybirds"></i>
    <form class="ui form segment form.login">
        <h1>Login</h1>
        <div class="field">
            <label>Username</label>
            <input placeholder="username" type="text" id="username">
        </div>
        <div class="field">
            <label>Password</label>
            <input placeholder="password" type="password" id="password">
        </div>
        <button class="ui primary submit button">Submit</button>
        <a href= "/views/signup.handlebars">sign up here</a>
        <div class="ui error message"></div>
    </form>
</div>

<script src = "/js/login.js"></script>