<div class="ui raised very padded text container blue inverted segment">
    <form class="ui form segment login">
        <h1 class="text center align">Login</h1>
        <div class="field">
            <label>Username</label>
            <input placeholder="Username" type="text" id="username">
        </div>
        <div class="field">
            <label>Password</label>
            <input placeholder="Password" type="password" id="password">
        </div>
        <button class="ui primary submit button">Submit</button>
        <a class="ui primary submit button" href="signup">Sign Up Here</a>
        
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src = "/js/login.js"></script>