<div class="ui raised very padded text container segment">
    <form class="ui form segment">
        <h1>Login</h1>
        <div class="field">
            <label>Username</label>
            <input placeholder="username" type="text">
        </div>
        <div class="field">
            <label>Password</label>
            <input placeholder="password" type="password">
        </div>
        <div class="ui primary submit button">Submit</div>
        <div class="ui error message"></div>
    </form>
</div>