<div class="ui raised very padded text container blue inverted segment">
 <i class="fab fa-earlybirds"></i>
    <form class="ui form segment form.login">
        <h1 class="text center align">login</h1>
        <div class="field">
            <label>username</label>
            <input placeholder="username" type="text" id="username">
        </div>
        <div class="field">
            <label>password</label>
            <input placeholder="password" type="password" id="password">
        </div>
        <button class="ui primary submit button">submit</button>
        <a class="ui primary submit button" href="signup">sign up here</a>
        
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src = "/js/login.js"></script>