<div class="ui raised very padded text container segment">
    <div class="ui card">
        <a class="image" href="#">
            <img src="">
        </a>
        <div class="content">
            <a class="header" href="#">Name</a>
            <a>Bio</a>
        </div>
    </div>
</div>