<i class="fab fa-earlybirds"></i>
<div class="ui vertical menu">
    <a class="item"><i class="home icon"></i>
        home
    </a>
    <a class="active blue item"><i class="id badge outline icon"></i>
        profile
    </a>
    <div class="item">
        <div class="ui transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>
</div>
{{!-- contains the bio info --}}
<div class="ui raised very padded text container segment">
    <div class="ui card">
        <a class="image" href="#">
            <img src="">
        </a>
        <div class="content">
            <a class="header" href="#">Name</a>
            <a>Bio</a>
        </div>
    </div>
</div>