<header class="siteHeader">
    <nav>
        <p><a href="/home">HOME</a></p>
        <div class="logodiv">
            <i class="fas fa-crow fa-3x logo home-logo-click"></i>
            <h1 class="site-title home-logo-click">Squawkr</h1>
        </div>
        <p><a href="/profile">PROFILE</a></p>
    </nav>
    <button class="ui primary submit button" id="logoutButton">Logout</button>
</header>

<div class="profile">
    <div class="profileHeaderDiv centered raised ui segment">
        <img src="" alt="" id="profilePicture">
        <h1 class="profileHeader"><span id="name"></span></h1>
        <div class="un-loc">
            <h2><span id="username"></span><span id="userLocation"></span></h2>
        </div>
        <div class="bioCard ui centered padded text container segment blue">
            <p class="bio">About Me:</p>
            <p class="bio" id="bio"></p>
        </div>
        <div><button class="ui primary submit button" id="updateButton">Update Information</button></div>
    </div>
</div>

{{#each post}}
<div class="ui raised very padded text blue inverted container segment">
    <h3 class="ui header">@{{author}}</h3>
    <p class="squawkBody">{{body}}</p>
    <p>{{squawkTime}}</p>
</div>
{{/each}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/profile.js"></script>