<div class="ui raised very padded text blue inverted container segment">
<form class="ui form segment create-form">
        <p>Tell Us About Yourself</p>
        <div class="field">
            <label>name</label>
            <input placeholder="first name" name="name" type="text" id ="name">
        </div>
        <div class="two fields">
          <div class="field">
            <label>username</label>
            <input placeholder="username" name="username" type="text" id ="username">
          </div>
          <div class="field">
            <label>password</label>
            <input type="password" name="password" id= "password">
          </div>
        </div>
        <div class="field">
          <label>email</label>
          <input placeholder="email@email.com" type="email" name="email" id="email">
        </div>
        <div class="field">
          <label>bio</label>
          <input placeholder="tell us about yourself" type="text" name="bio" id="bio">
        </div>
        
        <button class="ui primary submit button" type="submit">Submit</button>
        <div class="ui error message"></div>
      </form>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src = "/js/signup.js"></script>