:root {
    --main-blue: #2185d0;
}

body {
    width: 100%;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.siteHeader {
    width: 100%;
    height: 5em;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-blue);
}

nav * {
    margin: 0;
    color: var(--main-blue);
}

nav a:hover {
    color: var(--main-blue);
}

.loginSignupThing {
    color: var(--main-blue);
}

.loginSignupThing:hover {
    color: var(--main-blue);
}
.squawkBody {
    font-size: 2rem;
}

nav p {
    margin: 0 5em;
    font-size: 16px;
    cursor: pointer;
}

.logodiv {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    align-items: center;
    display: flex;
    cursor: pointer;
}

.site-title {
    font-family: "Caveat", serif;
    margin-top: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#squawkBox {
    width: 100%;
    resize: none;
    height: 5em;
}

#logoutButton {
    position: absolute;
    right: 5em;
}

.charCountText {
    color: white;
    margin: .5em 0;
}

#loginerror, #signuperror {
    margin-bottom: 1em;
}

/* PROFILE STYLING */
.profile{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.profileHeaderDiv {
    width: 50%;
    text-align: center;
    color: var(--main-blue);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profileHeader {
    font-size: 4rem;
}

.un-loc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.un-loc {
    margin: 1em 0;
}

.bio {
    margin: .5em 0;
    width: 100%;
    font-size: 2rem;
}

#profilePicture{
    margin-top: 1em;
    margin: 0 auto;
    height: 12em;
    width: 12em;
    border-radius: 50%;
    overflow: hidden;
}

.profilePicture{
    margin-top: 1em;
    margin: 0 auto;
    height: 12em;
    width: 12em;
    border-radius: 50%;
    overflow: hidden;
}